{
    "ApiConfig":  {
                      "DeviceId":  "",
                      "OrganizationGroupId":  570,
                      "Server":  "https://as947.awmdm.com",
                      "ApiKey":  "rQKhu/SVXyBVcBJ6K31OTFYnT97/h7PRsn6Zr7z+Zb8=",
                      "ApiAuth":  "Basic aGVsbWxpbmdwQHZtd2FyZS5jb206QDNBNUtrI0JiZks2",
                      "SSLThumbprint":  "26F16B9616791AD818FA33C05070C0453743B84C"
                  }
}