{
    "ApiConfig":  {
                      "DeviceId":  "",
                      "OrganizationGroupId":  ORGID,
                      "Server":  "https://server.awmdm.com",
                      "ApiKey":  "APIKEY",
                      "ApiAuth":  "Basic BASE64_USERNAME:PASSWORD",
					  "SSLThumbprint": "SSL_Cert_Thumbprint"
                  }
}